In [42]:
import pandas as pd
import datetime as dt
from dateutil import rrule

In [43]:
# startdate = dt.datetime.today()

In [44]:
startdate = dt.datetime(1999,1,1)

In [45]:
year_count = 301

In [46]:
rulelist = list(rrule.rrule(rrule.YEARLY, interval = 1, count=year_count, dtstart = startdate, bymonth=7, byweekday=rrule.SA(-1)))

In [48]:
years = [rulelist[i+1].year for i in range(0,year_count -1)]

In [49]:
weeks = [(rulelist[i+1] - rulelist[i]).days/7 for i in range(0,year_count - 1)]

In [50]:
yw= zip(years,weeks)

In [51]:
year_weeks = pd.DataFrame(data = yw, columns = ['years','weeks'])

In [52]:
special_years = list(year_weeks.loc[year_weeks['weeks']==53]['years'])

In [53]:
len(special_years)

53

In [54]:
year_weeks

     years  weeks
0     2000   52.0
1     2001   52.0
2     2002   52.0
3     2003   52.0
4     2004   53.0
..     ...    ...
295   2295   52.0
296   2296   52.0
297   2297   53.0
298   2298   52.0
299   2299   52.0

[300 rows x 2 columns]

In [55]:
special_years

[2004,
 2010,
 2016,
 2021,
 2027,
 2032,
 2038,
 2044,
 2049,
 2055,
 2060,
 2066,
 2072,
 2077,
 2083,
 2088,
 2094,
 2100,
 2106,
 2112,
 2117,
 2123,
 2128,
 2134,
 2140,
 2145,
 2151,
 2156,
 2162,
 2168,
 2173,
 2179,
 2184,
 2190,
 2196,
 2202,
 2208,
 2213,
 2219,
 2224,
 2230,
 2236,
 2241,
 2247,
 2252,
 2258,
 2264,
 2269,
 2275,
 2280,
 2286,
 2292,
 2297]