In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
today = dt.datetime.now().isoformat()[:10].replace('-','')

In [3]:
today

'20220414'

In [4]:
excel_sfdc_path = r'C:\Users\phsheari\Documents\SFDC Data\FULL EXPORT'

full_export_csv = excel_sfdc_path + r'\SFDC FULL EXPORT.csv'
last_fiscal_year_export_CSV = excel_sfdc_path + r'\SFDC FULL EXPORT_PFY.csv'

In [5]:
def update_qumark_account_names(account_name, account_name_english):
    new_account_name = None
    if (account_name.startswith('????') or account_name.startswith('*') or account_name.startswith('[') or account_name.startswith('(')) and pd.notnull(account_name_english):
        new_account_name = account_name_english
        return new_account_name.upper()
    elif account_name.startswith('*'):
        new_account_name = account_name.replace('*','')
        return new_account_name.upper()
    else:
        new_account_name = account_name
        return new_account_name.upper()

In [6]:
#A function to stringify the various possible elements in the dataframe with a float data-type
def stringify_element(m):
    a = pd.NA
    if pd.isnull(m):  # if did is null or nan
        return pd.NA
    elif type(m) == np.float64:
        return str(int(m))
    elif type(m) == float:
        return str(int(m))
    elif type(m) == np.int64:
        return str(m)
    elif type(m) == int:
        return str(m)
    elif type(m) == str:
        try:
            a = m.replace('"','').replace('&',',').replace('(','').replace(')','').replace(':',',').replace(' ',',').replace('\n',',').replace('\\n',',').replace('\\n\\r',',') .replace(',,',',').strip().split(',') 
            return a
        except:
            import pdb; pdb.set_trace()  
    else:
        return m

In [7]:
sfdc = pd.read_csv(full_export_csv, 
            usecols = ['Level 01 Territory',
                        'Level 02 Territory',
                        'Level 03 Territory',
                        'Level 04 Territory',
                        'Level 05 Territory',
                        'Level 06 Territory',
                        'Deal ID',
                        'Opportunity ID 18',
                        'Opportunity Record Type',
                        'Opportunity Name',
                        'Opportunity Owner',
                        'Opportunity Owner Alias',
                        'Opportunity Owner Email',
                        'Opportunity Owner: Title',
#                        'Opportunity Owner: Division',
#                        'Opportunity Owner: Department',
                        'Opportunity Status',
                        'Account Owner',
                        'Account Owner Alias',
                        'SFDC Account ID',
                        'Account Name',
                        'Account Name (English)',
                        'GU ID',
                        'HQ Party ID',
                        'Party ID',
#                        'CSC ID',
#                         'Product Family ID',
                        'Business Entity',
#                         'Total Price Currency'
#                         'Total Price',
#                         'Total Price (converted) Currency',
#                         'Total Price (converted)',
#                         'Expected Service ($000s) (converted) Currency',
#                         'Expected Service ($000s) (converted)',
#                         'Opportunity Line Value ($000s) (converted) Currency',
                        'Opportunity Line Value ($000s) (converted)',
                        'Services',
                        'Service Type',
                        'Service Category',
                        'Service Source',
#                         'Service Start Date',
#                         'Service End Date',
                        'Technology & Service Name',
#                         'Technology & Service: Month',
#                         'Technology & Service Date',
#                         'Technical Services (TS) %',
#                         'Advanced Services (AS) %',
#                         'Mix %',
                        'Stage',
                        'Forecast Status',
                        'Expected Book Date',
                        'Fiscal Week',
                        'Fiscal Month',
                        'Fiscal Period',
                        'Fiscal Quarter',
                        'Fiscal Year',
                        'Fiscal Month of QTR',
                        'Fiscal Week of Month',
                        'Created Date',
                        'Last Modified Date',
#                         'Deals Desk Status',
#                         'Close Probability %',
#                         'Created By',
#                         'Forecasting Position',
#                         'Forecasted Attrition ($000) (converted) Currency',
#                         'Forecasted Attrition ($000) (converted)',
#                         'Contract Number',
                        'Primary Partner',
#                         'Main Technology',
#                         'Default Position',
#                         'Cloud Deal?',
                        'Technologies',
                        'Group',
#                         'Service Level',
                        'Lost/Cancelled Reason'
])
# sfdc = pd.read_csv(full_export_csv)

C:\Users\phsheari\.conda\envs\compass_env\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (71,75) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
prior_year_sfdc = pd.read_csv(last_fiscal_year_export_CSV, 
            usecols = ['Level 01 Territory',
                        'Level 02 Territory',
                        'Level 03 Territory',
                        'Level 04 Territory',
                        'Level 05 Territory',
                        'Level 06 Territory',
                        'Deal ID',
                        'Opportunity ID 18',
                        'Opportunity Record Type',
                        'Opportunity Name',
                        'Opportunity Owner',
                        'Opportunity Owner Alias',
                        'Opportunity Owner Email',
                        'Opportunity Owner: Title',
#                        'Opportunity Owner: Division',
#                        'Opportunity Owner: Department',
                        'Opportunity Status',
                        'Account Owner',
                        'Account Owner Alias',
                        'SFDC Account ID',
                        'Account Name',
                        'Account Name (English)',
                        'GU ID',
                        'HQ Party ID',
                        'Party ID',
#                        'CSC ID',
#                         'Product Family ID',
                        'Business Entity',
#                         'Total Price Currency'
#                         'Total Price',
#                         'Total Price (converted) Currency',
#                         'Total Price (converted)',
#                         'Expected Service ($000s) (converted) Currency',
#                         'Expected Service ($000s) (converted)',
#                         'Opportunity Line Value ($000s) (converted) Currency',
                        'Opportunity Line Value ($000s) (converted)',
                        'Services',
                        'Service Type',
                        'Service Category',
                        'Service Source',
#                         'Service Start Date',
#                         'Service End Date',
                        'Technology & Service Name',
#                         'Technology & Service: Month',
#                         'Technology & Service Date',
#                         'Technical Services (TS) %',
#                         'Advanced Services (AS) %',
#                         'Mix %',
                        'Stage',
                        'Forecast Status',
                        'Expected Book Date',
                        'Fiscal Week',
                        'Fiscal Month',
                        'Fiscal Period',
                        'Fiscal Quarter',
                        'Fiscal Year',
                        'Fiscal Month of QTR',
                        'Fiscal Week of Month',
                        'Created Date',
                        'Last Modified Date',
#                         'Deals Desk Status',
#                         'Close Probability %',
#                         'Created By',
#                         'Forecasting Position',
#                         'Forecasted Attrition ($000) (converted) Currency',
#                         'Forecasted Attrition ($000) (converted)',
#                         'Contract Number',
                        'Primary Partner',
#                         'Main Technology',
#                         'Default Position',
#                         'Cloud Deal?',
                        'Technologies',
                        'Group',
#                         'Service Level',
                        'Lost/Cancelled Reason'
])

In [9]:
prior_year_sfdc.shape

(589729, 46)

### Combine the Current Year SFDC Full Export with the Future Year Full Export

In [10]:
combined = pd.concat([sfdc,prior_year_sfdc])

In [11]:
combined.shape

(1329820, 46)

### Remove any duplicate records in the resultant dataframe

In [12]:
combined.drop_duplicates(inplace=True)

In [13]:
combined.shape

(1239006, 46)

In [14]:
def convert_nan_to_int(dataframe_cell):
        if pd.isnull(dataframe_cell):
            return pd.NA
        else:
            try:
                return int(dataframe_cell)
            except:
                return pd.NA

### Do some data formatting and prep

In [15]:
combined['Level 01 Territory'] = combined['Level 01 Territory'].str.upper()
combined['Level 01 Territory'] = combined['Level 01 Territory'].str.replace('__','')

In [16]:
combined['Deal ID'] = combined['Deal ID'].apply(convert_nan_to_int).astype(str)

In [17]:
combined['GU ID'] = combined['GU ID'].apply(convert_nan_to_int).astype(str)
combined['HQ Party ID'] = combined['HQ Party ID'].apply(convert_nan_to_int).astype(str)
combined['Party ID'] = combined['Party ID'].apply(convert_nan_to_int).astype(str)

In [18]:
combined.rename(columns = {'Opportunity ID 18':'OpportunityID18',
                       'GU ID':'GUID', 
                       'HQ Party ID':'HQPartyID',
                       'Party ID':'PartyID',
                       'Opportunity Line Value ($000s) (converted)': 'Opportunity Value',
                       'Technology & Service Name':'Technology Name'
                      }, inplace=True)

### Create a "Type" Label for the SFDC transactions encountered, and filter for them

In [19]:
combined['Type'] = pd.NA

In [20]:
condition1 = combined['Business Entity'].isin(['AS-S'])
condition2 = combined['Business Entity'].isin(['AS-T'])
condition3 = ((combined['Business Entity']=='TS-S') & ((combined['Technology Name'].str.contains('SOLUTION SUPPORT SERVICES')) | (combined['Technology Name'].str.contains('SSPT'))))
condition4 = ((combined['Business Entity']=='TS-S') & ((combined['Technology Name'].str.contains('SNTC')) | (combined['Technology Name'].str.contains('SMART NET TOTAL CARE'))))

### Set search conditions

In [21]:
combined.loc[condition1,'Type'] = 'AS-S'
combined.loc[condition2,'Type'] = 'AS-T'
combined.loc[condition3,'Type'] = 'TS-SSPT'
combined.loc[condition4,'Type'] = 'TS-SNTC'

In [22]:
# combined['Technology Name'].to_excel(r'C:\Users\phsheari\Desktop\TechnologyName.xlsx')

In [23]:
search1 = combined['Type'].notnull()
search2 = ~(combined['Opportunity Status']=='Booked')
search3 = ~(combined['Stage'].str.contains('closed', na=False, case=False))
search4 = (combined['Fiscal Year'] >=2021)
#search5 = (combined['Service Source']=='New')
search6 = ~(combined['Opportunity Value']==0)

In [24]:
new_sfdc = combined.loc[search1 & search2 & search3 & search4 & search6][['Account Name', 'Account Name (English)', 'Level 01 Territory', 'Level 02 Territory', 'Level 03 Territory', 'Level 04 Territory',
                        'Level 05 Territory','Level 06 Territory', 'GUID', 'Deal ID', 'Opportunity Record Type', 'Opportunity Status', 'Account Owner', 'Account Owner Alias', 'Business Entity',
                        'Services', 'Service Source', 'Technology Name', 'Stage', 'Forecast Status', 'Opportunity Name','Opportunity Value', 'Fiscal Month', 'Fiscal Period','Fiscal Quarter', 'Fiscal Year','Group',  'Type']]

In [25]:
new_sfdc = new_sfdc.loc[new_sfdc['GUID'].notnull()] #.drop_duplicates(keep='first', inplace=True)
new_sfdc = new_sfdc.loc[(new_sfdc['Deal ID'].notnull()) & (new_sfdc['Deal ID'] != '<NA>')]

In [26]:
new_sfdc.drop_duplicates(keep='first', inplace=True)

In [27]:
new_sfdc.loc[new_sfdc['Account Name'].str.contains('charter comm', case=False) & (new_sfdc['Deal ID']=='43909907')][['Account Name','GUID', 'Deal ID','Business Entity','Type', 'Service Source','Technology Name','Stage', 'Forecast Status', 'Opportunity Name','Opportunity Value', 'Fiscal Month', 'Fiscal Period','Fiscal Quarter', 'Fiscal Year',]]

Empty DataFrame
Columns: [Account Name, GUID, Deal ID, Business Entity, Type, Service Source, Technology Name, Stage, Forecast Status, Opportunity Name, Opportunity Value, Fiscal Month, Fiscal Period, Fiscal Quarter, Fiscal Year]
Index: []

In [28]:
new_sfdc.shape

(172061, 28)

In [29]:
new_sfdc.Stage.unique()

array(['2 - Qualification', '3 - Proposal', '1 - Prospect',
       '4 - Agreement', 'Open'], dtype=object)

In [30]:
new_sfdc['Account Name'] = new_sfdc['Account Name'].str.upper()
new_sfdc['Account Name (English)'] = new_sfdc['Account Name (English)'].str.upper()

In [31]:
bydealid = pd.DataFrame(new_sfdc.groupby(['Deal ID','Type','Opportunity Name','Stage'])['Opportunity Value'].sum())

In [32]:
bydealid.reset_index(inplace=True)

In [33]:
bydealid.sort_values(by=['Deal ID','Type','Opportunity Name','Stage'], inplace=True)

In [34]:
bydealid.loc[bydealid['Deal ID']=='43909907']

Empty DataFrame
Columns: [Deal ID, Type, Opportunity Name, Stage, Opportunity Value]
Index: []

### Remove duplicate deals where there's more than one Stage by selecting the highest stage for a given deal ID

In [35]:
deduped = pd.DataFrame(bydealid.groupby(['Deal ID'])['Stage'].max())

In [36]:
deduped.reset_index(inplace=True)

In [37]:
deduped.loc[deduped['Deal ID']=='43909907']

Empty DataFrame
Columns: [Deal ID, Stage]
Index: []

In [38]:
deduped

         Deal ID              Stage
0       10234665      4 - Agreement
1       10797908      4 - Agreement
2       11073595  2 - Qualification
3       11106635      4 - Agreement
4       11230343       3 - Proposal
...          ...                ...
111331   9428983      4 - Agreement
111332   9610732       3 - Proposal
111333   9771581      4 - Agreement
111334   9835196       3 - Proposal
111335   9870227  2 - Qualification

[111336 rows x 2 columns]

In [39]:
new_sfdc = pd.merge(new_sfdc,deduped, how='inner', on=['Deal ID','Stage'])

In [40]:
new_sfdc.loc[new_sfdc['Account Name'].str.contains('charter comm', case=False) & (new_sfdc['Deal ID']=='43909907')]
# new_sfdc.loc[new_sfdc['Deal ID']==17848096]

Empty DataFrame
Columns: [Account Name, Account Name (English), Level 01 Territory, Level 02 Territory, Level 03 Territory, Level 04 Territory, Level 05 Territory, Level 06 Territory, GUID, Deal ID, Opportunity Record Type, Opportunity Status, Account Owner, Account Owner Alias, Business Entity, Services, Service Source, Technology Name, Stage, Forecast Status, Opportunity Name, Opportunity Value, Fiscal Month, Fiscal Period, Fiscal Quarter, Fiscal Year, Group, Type]
Index: []

[0 rows x 28 columns]

In [41]:
tracker_path = r'C:\Users\phsheari\Documents\SFDC Data\PIPELINE UPDATE\SFDC_Trackerfile.pkl'
trkr = pd.read_pickle(tracker_path)

In [42]:
trkr = trkr.loc[~trkr['Deal ID'].isnull()]

In [43]:
trkr.loc[trkr['GUID']=='3958057']

,Request ID,Create Date,Created By,Request Type,Modified,Modified By,Date Completed,LAST_UPDATED,QA Approve,REVIEW_REQUIRED_FLAG,...,RRT_LPM+,LPM_OFFERS,Method,Measure Group,Offer Focus,Value Type,Report FY,Report FQ,Injection Month,Injection Quarter
13172,3387,2020-04-02,vikantha@cisco.com,NaN,2021-06-25,phsheari@cisco.com,2020-04-20,2022-04-13 11:01 AM Eastern,True,True,...,0,0,FIELD,Operations,ANY,Actual,2020,Q3,202009,2020-Q3
17334,7856,2020-07-30,vikantha@cisco.com,NaN,2021-02-05,phsheari@cisco.com,NaT,2022-04-13 11:01 AM Eastern,True,True,...,0,0,None,Operations,None,Actual,2021,Q1,202101,2021-Q1
27445,17296,2021-04-20,vikantha@cisco.com,NaN,2021-07-17,phsheari@cisco.com,2021-04-21,2022-04-13 11:01 AM Eastern,True,True,...,0,0,FIELD,Operations,ANY,Actual,2021,Q3,202109,2021-Q3

In [44]:
gdf = trkr[['Request ID','GUID']]
campaigns = trkr[['Request ID','Campaign Type','Campaign','is_Targeting_Campaign']]

In [45]:
gdf.loc[:,'GUID'] = gdf['GUID'].apply(stringify_element)

C:\Users\phsheari\.conda\envs\compass_env\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [46]:
gdf = gdf.explode('GUID')

In [47]:
gdf.dropna(inplace=True)

In [48]:
gdf.shape

(33950, 2)

#### Remove bad GUIDs

In [49]:
gdf['BADLENGTH'] = gdf['GUID'].apply(lambda x: len(x) > 10)

In [50]:
gdf['BADGUID'] = ~gdf['GUID'].str.isdigit()

In [51]:
gdf = gdf.drop(gdf.loc[(gdf['BADGUID']==True) | (gdf['BADLENGTH']==True)].index)

In [52]:
gdf.drop(columns=['BADGUID','BADLENGTH'], inplace=True)

In [53]:
gdf['GUID'] = gdf['GUID'].astype(int).astype(pd.Int64Dtype()).astype(str)

In [54]:
gdf.sort_values(by=['Request ID','GUID'], inplace=True)

In [55]:
### Update THIS

reqs_dealids = pd.read_pickle(r'C:\Users\phsheari\Documents\SFDC Data\DealIDs_RequestIDs.pkl')

In [56]:
reqs_dealids.drop_duplicates(keep='first', inplace=True)

In [57]:
reqs_dealids.loc[reqs_dealids['Deal ID']=='43909907']

      Request ID   Deal ID
15418      17296  43909907

In [58]:
gdf = gdf.merge(reqs_dealids, how='left', on='Request ID').dropna()

In [59]:
gdf.loc[gdf['Deal ID']=='43909907']

      Request ID     GUID   Deal ID
15265      17296  3958057  43909907

In [60]:
gdf['Dupechk'] = gdf.duplicated(['Request ID','Deal ID'], keep='first')

In [61]:
gdf = gdf.loc[gdf['Dupechk']==False]

In [62]:
gdf.drop(columns='Dupechk', inplace=True)

In [63]:
gdf.sort_values(by=['Deal ID','Request ID'], ascending=['True','False'], inplace=True)

In [64]:
gdf['DealDupe'] = gdf.duplicated('Deal ID', keep='last')

In [65]:
gdf = gdf.loc[gdf['DealDupe']==False]

In [66]:
gdf.drop(columns='DealDupe', inplace=True)

In [67]:
gdf.loc[gdf['Deal ID']=='43909907']

      Request ID     GUID   Deal ID
15265      17296  3958057  43909907

In [68]:
trkr

,Request ID,Create Date,Created By,Request Type,Modified,Modified By,Date Completed,LAST_UPDATED,QA Approve,REVIEW_REQUIRED_FLAG,...,RRT_LPM+,LPM_OFFERS,Method,Measure Group,Offer Focus,Value Type,Report FY,Report FQ,Injection Month,Injection Quarter
449,116418,2022-03-30,jedelega@cisco.com,Reactive,2022-04-12,stedward@cisco.com,2022-04-05,2022-04-13 11:01 AM Eastern,False,False,...,0,0,M1 (Coverage Program),Operations,ANY,Actual,2022,Q3,202209,2022-Q3
458,114641,2022-03-04,vikantha@cisco.com,Targeting Campaign,2022-04-12,macoup@cisco.com,2022-03-10,2022-04-13 11:01 AM Eastern,False,False,...,0,0,M1 (Coverage Program),Operations,SNTC,Actual,2022,Q3,202208,2022-Q3
459,115192,2022-03-04,vikantha@cisco.com,Targeting Campaign,2022-04-07,gnunessr@cisco.com,2022-03-10,2022-04-13 11:01 AM Eastern,False,False,...,0,1,M1 (Coverage Program),Operations,SNTC,Actual,2022,Q3,202208,2022-Q3
460,115177,2022-03-04,vikantha@cisco.com,Targeting Campaign,2022-04-01,gnunessr@cisco.com,2022-03-10,2022-04-13 11:01 AM Eastern,False,False,...,0,0,M1 (Coverage Program),Operations,SNTC,Actual,2022,Q3,202208,2022-Q3
461,115168,2022-03-04,vikantha@cisco.com,Targeting Campaign,2022-04-07,gnunessr@cisco.com,2022-03-10,2022-04-13 11:01 AM Eastern,False,False,...,0,0,M1 (Coverage Program),Operations,SNTC,Actual,2022,Q3,202208,2022-Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42568,118488,2022-04-07,vikantha@cisco.com,Reactive,2022-04-11,cx-compass-two.gen@cisco.com,2022-04-11,2022-04-13 11:01 AM Eastern,False,False,...,0,0,FIELD,Operations,ANY,Actual,2022,Q3,202209,2022-Q3
42569,118489,2022-04-07,vikantha@cisco.com,Reactive,2022-04-11,cx-compass-two.gen@cisco.com,2022-04-11,2022-04-13 11:01 AM Eastern,False,False,...,0,0,FIELD,Operations,ANY,Actual,2022,Q3,202209,2022-Q3
42593,118516,2022-04-11,vikantha@cisco.com,Reactive,2022-04-12,josguti2@cisco.com,NaT,2022-04-13 11:01 AM Eastern,False,False,...,0,0,FIELD,Operations,ANY,Actual,2022,Q3,202209,2022-Q3
42597,118520,2022-04-12,ebaird@cisco.com,Reactive,2022-04-12,ebaird@cisco.com,NaT,2022-04-13 11:01 AM Eastern,False,False,...,0,0,FIELD,Operations,ANY,Actual,2022,Q3,202209,2022-Q3
42599,118522,2022-04-12,hbegley@cisco.com,Reactive,2022-04-12,hbegley@cisco.com,NaT,2022-04-13 11:01 AM Eastern,False,False,...,0,0,FIELD,Operations,ANY,Actual,2022,Q3,202209,2022-Q3

### Re-Merge the Exploded GUIDs with Tracker

In [69]:
### "gdf" is the exploded dataframe with GUID's from the tracker

deepdive = pd.merge(gdf,trkr, how='inner', on=['Request ID'])[['Request ID','GUID_x','Customer Name','Deal ID_x']].sort_values(by=['Deal ID_x','Request ID'])

In [70]:
deepdive.shape

(17403, 4)

In [71]:
deepdive.drop_duplicates(keep='first', inplace=True)

In [72]:
deepdive = deepdive.loc[deepdive['Deal ID_x'].notnull()]

In [73]:
deepdive.loc[deepdive['Customer Name'].str.contains('charter comm', case=False)]

     Request ID   GUID_x               Customer Name Deal ID_x
4928       7856  3958057  CHARTER COMMUNICATIONS INC  20639408
8899      17296  3958057      CHARTER COMMUNICATIONS  43605474
8900      17296  3958057      CHARTER COMMUNICATIONS  43909907
8901      17296  3958057      CHARTER COMMUNICATIONS  43909919
8902      17296  3958057      CHARTER COMMUNICATIONS  43909925
8903      17296  3958057      CHARTER COMMUNICATIONS  43909936
8904      17296  3958057      CHARTER COMMUNICATIONS  43909944
8905      17296  3958057      CHARTER COMMUNICATIONS  43916973
8906      17296  3958057      CHARTER COMMUNICATIONS  43917524
8907      17296  3958057      CHARTER COMMUNICATIONS  43919499
8908      17296  3958057      CHARTER COMMUNICATIONS  43936910
8909      17296  3958057      CHARTER COMMUNICATIONS  43939184
8910      17296  3958057      CHARTER COMMUNICATIONS  43942139
8911      17296  3958057      CHARTER COMMUNICATIONS  43942147
8912      17296  3958057      CHARTER COMMUNICATIONS  43942196
8913      17296  3958057      CHARTER COMMUNICATIONS  43948840
8914      17296  3958057      CHARTER COMMUNICATIONS  43969741

In [74]:
# deepdive.GUID_x = deepdive.GUID_x.astype(str)
# deepdive['Deal ID_x'] = deepdive['Deal ID_x'].astype(str)

In [75]:
guidlist = list(gdf['GUID'].unique())

### What pipeline values are coming from SFDC with ONLY the GUID-DealID pairing matching from SFDC and Tracker?

In [76]:
trkr_pipeline = pd.merge(deepdive, new_sfdc, how='inner', left_on=['GUID_x','Deal ID_x'], right_on=['GUID','Deal ID'])

In [77]:
trkr_pipeline.loc[trkr_pipeline['Request ID']=='17296']

Empty DataFrame
Columns: [Request ID, GUID_x, Customer Name, Deal ID_x, Account Name, Account Name (English), Level 01 Territory, Level 02 Territory, Level 03 Territory, Level 04 Territory, Level 05 Territory, Level 06 Territory, GUID, Deal ID, Opportunity Record Type, Opportunity Status, Account Owner, Account Owner Alias, Business Entity, Services, Service Source, Technology Name, Stage, Forecast Status, Opportunity Name, Opportunity Value, Fiscal Month, Fiscal Period, Fiscal Quarter, Fiscal Year, Group, Type]
Index: []

[0 rows x 32 columns]

In [78]:
trkr_pipeline['DupeCheck'] = pd.NA

In [79]:
dupe1 = trkr_pipeline.sort_values(by=['Deal ID','Request ID'], ascending = ['True','True'],).copy()  ### make a copy of the trkr_pipeline to preserve the index

In [80]:
dupe1['DupeCheck'] = dupe1.duplicated(['Deal ID','Stage','Service Source','Opportunity Value'], keep='last')

In [81]:
dupe1

,Request ID,GUID_x,Customer Name,Deal ID_x,Account Name,Account Name (English),Level 01 Territory,Level 02 Territory,Level 03 Territory,Level 04 Territory,...,Forecast Status,Opportunity Name,Opportunity Value,Fiscal Month,Fiscal Period,Fiscal Quarter,Fiscal Year,Group,Type,DupeCheck
0,16842,197402001,AMC ENTERTAINMENT INC,15645318,AMC ENTERTAINMENT INC,NaN,AMERICAS,US COMMERCIAL,COMMERCIAL CENTRAL AREA,Midwest Select Operation,...,Commit,"amc, my renewal 3 yrs, sirius",24.0,12,Q4-2021,4,2021,CX Renewals.Americas.Commercial - US Inv,TS-SNTC,False
1,16842,197402001,AMC ENTERTAINMENT INC,15645318,AMC ENTERTAINMENT INC,NaN,AMERICAS,US COMMERCIAL,COMMERCIAL CENTRAL AREA,Midwest Select Operation,...,Commit,"amc, my renewal 3 yrs, sirius",60.0,12,Q4-2021,4,2021,CX Renewals.Americas.Commercial - US Inv,TS-SNTC,False
2,16842,197402001,AMC ENTERTAINMENT INC,15645318,AMC ENTERTAINMENT INC,NaN,AMERICAS,US COMMERCIAL,COMMERCIAL CENTRAL AREA,Midwest Select Operation,...,Commit,"amc, my renewal 3 yrs, sirius",298.0,12,Q4-2021,4,2021,CX Renewals.Americas.Commercial - US Inv,TS-SNTC,False
3,106079,133092,FOOT LOCKER INC,16042652,FOOT LOCKER INC,FOOT LOCKER INC,AMERICAS,US COMMERCIAL,COMMERCIAL CENTRAL AREA,CENTRAL NORTH COMMERCIAL OPERATION,...,Upside,Global Deal for Foot Locker,2.0,12,Q4-2022,4,2022,Wisconsin Select,TS-SNTC,False
4,106079,133092,FOOT LOCKER INC,16042652,FOOT LOCKER INC,FOOT LOCKER INC,AMERICAS,US COMMERCIAL,COMMERCIAL CENTRAL AREA,CENTRAL NORTH COMMERCIAL OPERATION,...,Upside,Global Deal for Foot Locker,4.0,12,Q4-2022,4,2022,Wisconsin Select,TS-SNTC,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2391,116535,2652279,NAPLES COMMUNITY HEALTH SYSTEMS,56036637,NAPLES COMMUNITY HEALTH SYSTEMS,NaN,AMERICAS,US COMMERCIAL,COMMERCIAL EAST AREA,SOUTH EAST COMMERCIAL OPERATION,...,Upside,"NCH , Compass, Anthony Forina, TBD",125.0,10,Q4-2022,4,2022,US Commercial ISS South Select,AS-S,False
2392,116534,27858,LENNAR CORPORATION,56036682,LENNAR CORPORATION,NaN,AMERICAS,US COMMERCIAL,COMMERCIAL EAST AREA,SOUTH EAST COMMERCIAL OPERATION,...,Upside,"Lennar, Compass BCS, Anthony Forina,TBD",125.0,10,Q4-2022,4,2022,US Commercial ISS South Select,AS-S,False
2393,117076,167909436,BIOFIRE DIAGNOSTICS INC,56040344,BIOFIRE DIAGNOSTICS INC,NaN,AMERICAS,US COMMERCIAL,COMMERCIAL EAST AREA,MID-ATLANTIC COMMERCIAL OPERATION,...,Upside,BioFire Compass Report,50.0,12,Q4-2022,4,2022,US Commercial ISS East Select,TS-SSPT,False
2394,118234,167909436,BIOMERIEUX,56045192,BIOMERIEUX INC,BIOMERIEUX INC,AMERICAS,US COMMERCIAL,COMMERCIAL EAST AREA,MID-ATLANTIC COMMERCIAL OPERATION,...,Upside,Biomerieux Compass Report,50.0,12,Q4-2022,4,2022,US Commercial ISS East Select,TS-SSPT,False
2395,118516,4252802,FORSVARETS RADIOANSTALT,56056031,FORSVARETS RADIOANSTALT,FRA,EMEAR-REGION,EMEAR-NORTH,COUNTRY_SWEDEN,PUBLICSECTOR_SWE_NATIONAL,...,Upside,AS engagement,100.0,12,Q4-2022,4,2022,Services Sales EMEAR North Sweden - SW 3,AS-T,False

In [82]:
# dupe1.drop(columns=['GUID','Deal ID'], inplace=True)
# dupe1.rename(columns={'GUID_x':'GUID','Deal ID_x':'Deal ID'}, inplace=True)

In [83]:
dupe_index = dupe1.loc[dupe1['DupeCheck']==False].index   ### Keep ONLY the FALSE records which did not indicate a duplicate

In [84]:
# trkr_pipeline.drop(columns=['GUID','Deal ID'], inplace=True)
# trkr_pipeline.rename(columns={'GUID_x':'GUID','Deal ID_x':'Deal ID'}, inplace=True)

In [85]:
trkr_pipeline_one = trkr_pipeline.loc[dupe_index]

In [86]:
trkr_pipeline_one.loc[trkr_pipeline_one['Request ID']=='17296'][['Request ID', 'GUID', 'Customer Name', 'Deal ID', 'Account Name',
       'Account Name (English)', 'Level 01 Territory', 'Level 02 Territory',
       'Level 03 Territory','Business Entity', 'Services',
       'Service Source', 'Technology Name', 'Stage', 'Opportunity Name','Opportunity Value',
       'Fiscal Month', 'Fiscal Period', 'Fiscal Quarter', 'Fiscal Year',
       'Group', 'Type']]

Empty DataFrame
Columns: [Request ID, GUID, Customer Name, Deal ID, Account Name, Account Name (English), Level 01 Territory, Level 02 Territory, Level 03 Territory, Business Entity, Services, Service Source, Technology Name, Stage, Opportunity Name, Opportunity Value, Fiscal Month, Fiscal Period, Fiscal Quarter, Fiscal Year, Group, Type]
Index: []

[0 rows x 22 columns]

In [87]:
sfdc_pipeline = new_sfdc.loc[new_sfdc['GUID'].isin(guidlist)]

In [88]:
sfdc_pipeline.loc[:,'Account Name'] = sfdc_pipeline.apply(lambda x: update_qumark_account_names(x['Account Name'], x['Account Name (English)']), axis=1)

C:\Users\phsheari\.conda\envs\compass_env\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [89]:
# sfdc_pipeline

### Consolidating the rows from the Tracker Pipeline/SFDC merge

In [90]:
trkr_values = trkr_pipeline_one.groupby(['Request ID', 'Business Entity','Type','Opportunity Name'])['Opportunity Value'].sum()

In [91]:
trkr_dimensions = trkr_pipeline_one[['Request ID', 'GUID', 'Customer Name', 'Deal ID',
       'Account Name', 'Account Name (English)', 'Level 01 Territory', 'Level 02 Territory', 'Level 03 Territory', 'Level 04 Territory',
       'Level 05 Territory', 'Level 06 Territory','Business Entity', 'Service Source', 'Forecast Status', 'Stage', 'Fiscal Month',
       'Fiscal Period', 'Fiscal Quarter', 'Fiscal Year', 'Group', 'Type','Opportunity Record Type','Opportunity Status', 'Opportunity Name','Account Owner', 'Account Owner Alias',
       ]].drop_duplicates()

In [92]:
trkr_pipeline_final = trkr_dimensions.merge(trkr_values, how='left', on=['Request ID','Business Entity','Type','Opportunity Name'])
trkr_pipeline_final = trkr_pipeline_final.merge(campaigns, how='left', on=['Request ID'])

In [93]:
trkr_pipeline_final = trkr_pipeline_final[['Request ID', 'GUID', 'Customer Name','Campaign Type', 'Campaign', 'is_Targeting_Campaign', 'Deal ID', 'Account Name',
       'Account Name (English)', 'Level 01 Territory', 'Level 02 Territory',
       'Level 03 Territory', 'Level 04 Territory', 'Level 05 Territory',
       'Level 06 Territory', 'Business Entity', 'Service Source', 'Forecast Status', 'Stage',
       'Fiscal Month', 'Fiscal Period', 'Fiscal Quarter', 'Fiscal Year',
       'Group', 'Type', 'Opportunity Record Type', 'Opportunity Status', 'Opportunity Name',
       'Account Owner', 'Account Owner Alias', 'Opportunity Value', 
       ]]

In [94]:
trkrperiods = trkr[['Request ID','Request FY','Request FQ','Request FM','Readout FY','Readout FQ','Readout FM']]

In [95]:
trkr_pipeline_final = trkr_pipeline_final.merge(trkrperiods, how='inner', on='Request ID')

In [96]:
# trkr_pipeline_final.loc[trkr_pipeline_final['Request ID']=='2021202114496'].to_excel(r'C:\Users\phsheari\Desktop\CheckPipeline.xlsx',index=False) #.drop_duplicates()

In [97]:
trkr_pipeline_final['Deal ID'].nunique()

962

In [98]:
pipeline_years = ['2021','2022']

In [99]:
trkr_pipeline_final.loc[:,'Fiscal Year'] = trkr_pipeline_final['Fiscal Year'].astype(str)
trkr_pipeline_final.loc[:,'Fiscal Quarter'] = trkr_pipeline_final['Fiscal Quarter'].astype(str)
trkr_pipeline_final.loc[:,'Fiscal Y-Q'] = trkr_pipeline_final['Fiscal Year'] + "-Q" + trkr_pipeline_final['Fiscal Quarter']
sfdc_pipeline.loc[:,'Fiscal Year'] = sfdc_pipeline['Fiscal Year'].astype(str)
sfdc_pipeline.loc[:,'Fiscal Quarter'] = sfdc_pipeline['Fiscal Quarter'].astype(str)
sfdc_pipeline.loc[:,'Fiscal Y-Q'] = sfdc_pipeline['Fiscal Year'] + "-Q" + sfdc_pipeline['Fiscal Quarter']

C:\Users\phsheari\.conda\envs\compass_env\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [100]:
trkr_pipeline_final.sort_values(by=['Request ID','Business Entity','Service Source'], inplace=True)

In [101]:
trkr_pipeline_final.rename(columns={'Customer Name':'Compass Account Name','Account Name':'SFDC Account Name', 'Account Name (English)': 'SFDC Account Name (English)', 'Stage':'Forecast Stage', }, inplace=True)

In [102]:
trkr_pipeline_final = trkr_pipeline_final[['Request ID', 'GUID', 'Compass Account Name', 'SFDC Account Name', 'SFDC Account Name (English)', 'Deal ID','Campaign Type', 'Campaign', 'is_Targeting_Campaign',
                                           'Level 01 Territory', 'Level 02 Territory', 'Level 03 Territory',  'Level 04 Territory','Business Entity', 'Service Source', 'Forecast Stage', 'Forecast Status', 'Fiscal Month',
                                           'Fiscal Quarter', 'Fiscal Year','Fiscal Y-Q', 'Opportunity Record Type', 'Opportunity Status', 'Account Owner', 'Opportunity Name','Opportunity Value', 'Type', 'Request FY','Request FQ','Request FM','Readout FY','Readout FQ','Readout FM']]

In [103]:
trkr_pipeline_final.drop_duplicates(keep='first', inplace=True)

In [104]:
trkr_pipeline_final = trkr_pipeline_final.loc[(trkr_pipeline_final['Request FY'] >= '2021')]# & (trkr_pipeline_final['Request FQ'] == '3') & (trkr_pipeline_final['Request ID']=='17296')]

In [105]:
trkr_pipeline_final.loc[(trkr_pipeline_final['Request ID'] == '17296')]

Empty DataFrame
Columns: [Request ID, GUID, Compass Account Name, SFDC Account Name, SFDC Account Name (English), Deal ID, Campaign Type, Campaign, is_Targeting_Campaign, Level 01 Territory, Level 02 Territory, Level 03 Territory, Level 04 Territory, Business Entity, Service Source, Forecast Stage, Forecast Status, Fiscal Month, Fiscal Quarter, Fiscal Year, Fiscal Y-Q, Opportunity Record Type, Opportunity Status, Account Owner, Opportunity Name, Opportunity Value, Type, Request FY, Request FQ, Request FM, Readout FY, Readout FQ, Readout FM]
Index: []

[0 rows x 33 columns]

In [106]:
sfdc_pipeline['Service Source'].unique()

array(['New', 'Renewal'], dtype=object)

In [107]:
trkr_pipeline_final.loc[trkr_pipeline_final['Fiscal Year'].isin(pipeline_years)].to_excel(r'C:\Users\phsheari\Desktop\TrkrPipeline.xlsx', sheet_name='Data', index=False)
trkr_pipeline_final.loc[trkr_pipeline_final['Fiscal Year'].isin(pipeline_years)].to_excel(r'C:\Users\phsheari\Documents\Compass Tableau Data\TrkrPipeline.xlsx', sheet_name='Data', index=False)
trkr_pipeline_final.loc[trkr_pipeline_final['Fiscal Year'].isin(pipeline_years)].to_excel(r'C:\Users\phsheari\Documents\Compass Tableau Data\TrkrPipeline' + today + '.xlsx', sheet_name='Data', index=False)
sfdc_pipeline.loc[sfdc_pipeline['Fiscal Year'].isin(pipeline_years)].to_excel(r'C:\Users\phsheari\Documents\Compass Tableau Data\Salesforce_Pipeline.xlsx', index=False)

In [108]:
trkr_pipeline_dollars = pd.pivot_table(data=trkr_pipeline_final.loc[(trkr_pipeline_final['Fiscal Year'].isin(pipeline_years))], index=['Fiscal Year','Fiscal Quarter','Level 01 Territory'], columns=['Service Source','Forecast Stage'], values='Opportunity Value', aggfunc='sum', margins=True, margins_name='Total').fillna(0.0)

In [109]:
type(trkr_pipeline_dollars)

pandas.core.frame.DataFrame

In [110]:
trkr_pipeline_count = pd.pivot_table(data=trkr_pipeline_final.loc[(trkr_pipeline_final['Fiscal Year'].isin(pipeline_years))], index=['Fiscal Year','Fiscal Quarter','Level 01 Territory',], columns='Forecast Stage', values='Opportunity Value', aggfunc='count', margins=True, margins_name='Total').fillna(0.0)

In [111]:
trkr_pipeline_count

Forecast Stage                                 1 - Prospect  \
Fiscal Year Fiscal Quarter Level 01 Territory
2021        1              AMERICAS                     1.0
            2              AMERICAS                     6.0
            3              AMERICAS                     6.0
                           APJC                         1.0
            4              AMERICAS                     9.0
                           EMEAR-REGION                 2.0
2022        1              AMERICAS                    10.0
                           EMEAR-REGION                 1.0
            2              AMERICAS                    16.0
                           APJC                         1.0
            3              AMERICAS                    17.0
                           APJC                         1.0
                           EMEAR-REGION                 6.0
            4              AMERICAS                    29.0
                           APJC                        13.0
                           EMEAR-REGION                10.0
Total                                                 129.0

Forecast Stage                                 2 - Qualification  \
Fiscal Year Fiscal Quarter Level 01 Territory
2021        1              AMERICAS                          0.0
            2              AMERICAS                          1.0
            3              AMERICAS                          0.0
                           APJC                              0.0
            4              AMERICAS                          6.0
                           EMEAR-REGION                      0.0
2022        1              AMERICAS                          5.0
                           EMEAR-REGION                      0.0
            2              AMERICAS                          2.0
                           APJC                              0.0
            3              AMERICAS                         26.0
                           APJC                              7.0
                           EMEAR-REGION                      3.0
            4              AMERICAS                        147.0
                           APJC                              9.0
                           EMEAR-REGION                     31.0
Total                                                      237.0

Forecast Stage                                 3 - Proposal  4 - Agreement  \
Fiscal Year Fiscal Quarter Level 01 Territory
2021        1              AMERICAS                     1.0            0.0
            2              AMERICAS                     0.0            0.0
            3              AMERICAS                     0.0            0.0
                           APJC                         0.0            0.0
            4              AMERICAS                     2.0            1.0
                           EMEAR-REGION                 0.0            0.0
2022        1              AMERICAS                     1.0            0.0
                           EMEAR-REGION                 0.0            1.0
            2              AMERICAS                     3.0            3.0
                           APJC                         2.0            0.0
            3              AMERICAS                    50.0           76.0
                           APJC                        15.0           11.0
                           EMEAR-REGION                11.0           35.0
            4              AMERICAS                   190.0          263.0
                           APJC                         5.0            6.0
                           EMEAR-REGION                23.0          101.0
Total                                                 303.0          497.0

Forecast Stage                                 Total
Fiscal Year Fiscal Quarter Level 01 Territory
2021        1              AMERICAS                2
            2              AMERICAS                7
            3              AMERICAS                6
                           APJC                    1
            4              AMERICAS               18
                           EMEAR-REGION            2
2022        1              AMERICAS               16
                           EMEAR-REGION            2
            2              AMERICAS               24
                           APJC                    3
            3              AMERICAS              169
                           APJC                   34
                           EMEAR-REGION           55
            4              AMERICAS              629
                           APJC                   33
                           EMEAR-REGION          165
Total                                           1166